# Machine Learning and Statistics Project

**Tatjana Staunton**

***

>• The project is to create a notebook exploring classification algorithms applied on the iris flower data set associated with Ronald
A Fisher.

>• In your notebook, you should first explain what supervised learning is and then explain what classification algorithms are.

>• Describe at least one common classification algorithm and implement it using the `scikit-learn` Python library.

>• Throughout your notebook, use appropriate plots, mathematical
notation, and diagrams to explain the relevant concepts.

![Iris Flowers](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Machine+Learning+R/iris-machinelearning.png)

#### Overview of Fisher's Iris Dataset

The Iris dataset is a popular dataset in the field of machine learning and statistics. It was introduced by the British biologist and statistician Sir Ronald A. Fisher in 1936.  The dataset is based on a study where measurements were taken from three species of iris flowers: setosa, versicolor, and virginica. There are four features (attributes) measured for each flower:
* Sepal length (in cm)
* Sepal width (in cm)
* Petal length (in cm)
* Petal width (in cm)
There are three classes:
* Iris setosa
* Iris versicolor
* Iris virginica

There are typically 150 instances in the dataset, with 50 instances for each of the three species. The Iris dataset has become a classic example in the field and is frequently used in tutorials and educational materials for introducing concepts of machine learning and data analysis.

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

#### References
http://www.lac.inpe.br/~rafael.santos/Docs/CAP394/WholeStory-Iris.html

https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv

http://archive.ics.uci.edu/ml/datasets/Iris

https://en.wikipedia.org/wiki/Iris_flower_data_set